@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
}

.texto {
  color: white;
  text-align: center;
  font-size: 24px;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.texto2 {
  color: black;
  text-align: center;
  font-size: 19px;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.texto3 {
  color: white;
  text-align: left;
  font-size: 24px;
  padding-top: 40px;
  padding-left: 36px;
  padding-right: 15px;
  padding-bottom: 6px;
}

.box {
  background-color: grey;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 7px;
  padding-bottom: 20px;
  margin-top: 20px;
}

img {
  float: right;
  margin-right: 70px;
  margin-top: 20px;
}

.botao {
  background-color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 7px;
  margin-left: 27px;
  margin-right: 27px;
  margin-top: 10px;
  border-radius: 7px;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.botao:hover {
  background-color: rgb(124, 116, 117);
  transform: scale(1.11);
  box-shadow: 0px 0px 10px;
}

.imagem {
  padding-left: 77px;
  padding-right: 77px;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .box {
    margin: 30px auto; /* Reduz a margem nas telas menores */
    padding-bottom: 20px; /* Reduz o padding inferior */
  }

  .imagem {
    padding: 10px 0; /* Reduz o padding da imagem */
  }
}

@media screen and (max-width: 480px) {
  .texto {
    font-size: 20px; /* Reduz o tamanho da fonte para telas menores */
  }
}
